<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <form class="d-flex" action="/search" method="GET">
                        <input class="form-control me-2" type="text" name="Symbol" placeholder="Enter cryptocurrency">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto time-nav">
                <li class="nav-item">
                    <a id="globalTime">Time</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
<script>
    function formatTime(date) {
        return date.toLocaleTimeString();
    }

    function updateTime() {
        const now = new Date();
        document.getElementById('globalTime').textContent = formatTime(now);
    }

    updateTime();
    setInterval(updateTime, 1000);
</script>
</body>
</html>
